.header {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.header > .nav-item > ul {
  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
